<div class="dbViewDisplayArea">
    <h2>Report Four</h2>
    {% comment %}<p style="float: right;font-size: 14px;padding: 0px 20px;">*all data on this page for repsresntation
        only</p>{% endcomment %}
    <div style="    padding: 10px 20px 30px;">
        <table>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Never</td>
                <td>Who Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro Tea LTD</td>
                <td>Red Chang</td>
                <td>Mexico</td>
            </tr>
            <tr>
                <td>Never Here Corp</td>
                <td>Roland Ghazol</td>
                <td>Finland</td>
            </tr>
            <tr>
                <td>Mars Corp</td>
                <td>Robert Young</td>
                <td>Kingdom Of Trust</td>
            </tr>
            <tr>
                <td>Dummy Petrochemicals</td>
                <td>Yash Tannamuri</td>
                <td>SA</td>
            </tr>
        </table>
    </div>
</div>
