{% extends 'base.html' %}
{% block content %}

    <!--Modal box-->
    {% include 'components/login-modal.html' %}
    <!--/ Modal box-->

    {% include 'components/banner.html' %}

    <!--Feature-->
    {% include 'components/feature.html' %}
    <!--/ feature-->

    <!--Organisations-->
    {% include 'components/organization.html' %}
    <!--/ Organisations-->

    <!--Cta-->
    {% include 'components/newsletter.html' %}
    <!--/ Cta-->

    <!--work-shop-->
    {% include 'components/work-shop.html' %}
    <!--/ work-shop-->

    <!--Mentor member-->
    {% include 'components/mentors.html' %}
    <!--/ Mentor member-->

    <!--Testimonial-->
    {% include 'components/testimonial.html' %}
    <!--/ Testimonial-->

    <!--Courses-->
    {% include 'components/courses.html' %}
    <!--/ Courses-->

    <!--Pricing-->
    {% include 'components/pricing.html' %}
    <!--/ Pricing-->

    <!--Contact-->
    {% include 'components/contact-form.html' %}
    <!--/ Contact-->

{% endblock content %}
