{% extends "base.html" %}
{% block content %}

<section id="login" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-offset">
                <h3>Login Page</h3>
                <form action="/user/login" method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-group row">
                        {{form}}
                    </div>
                    <button type="submit" class="button  btn btn-info">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}